
<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>mytennisclub</title>

    {% load static %}
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      main > .container {
        padding: 70px 15px 0;
      }
    </style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </head>
    <body class="d-flex flex-column h-100">

    <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">


      <a class="navbar-brand" href="{% url 'index' %}">MTC {{ request.session.club_name }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id="navbarsExample09">

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Ausloggen</a>
            <a class="nav-link" href="{% url 'index' %}">Profil</a>
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
          {% else %}
            <a class="nav-link" href="{% url 'signup' %}">Registrieren</a>
            <a class="nav-link" href="{% url 'login' %}">Einloggen</a>
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
          {% endif %}   
      </ul>  
            
      </div> 
    </nav>
</header>

    <main role="main" class="flex-shrink-0">

    <div class="container">
      {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          {% endfor %}
      {% endif %}
    
        {% block content %}{% endblock %}
     </div>

     <script>
      setTimeout(function(){
        if ($('#msg').length > 0) {
          $('#msg').remove();
        }
      }, 10000)
    </script> 
    </main><!-- /.container -->

    <footer class="footer mt-auto py-3 bg-dark text-white-50">      
      <div class="container text-center">
        <a href="http://www.mytennisclub.online" target="_blank">&copy Copyright 2020: mytennisclub.online</a>
        Impressum | AGB | Datenschutzrichtlinie | <a href="https://github.com/puredriver/myclub/blob/master/README.md#v030" target="_blank" >Version 0.3.0</a> 
      </div>
    </footer>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?always=1"></script>

    </body>
</html>