{% extends "rankinglist/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">

  <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#exampleModal">
    Regelwerk
  </button>
  
  <h5>Ranglisten</h5>
  
  {% for r in rankinglists %}
      <h6>{{ r.name }} <button class="btn btn-primary btn-sm" id="rbutton{{r.id}}">Tabelle</button>
         <a href="{% url 'rankinglist_stats' club_id=club.id rankinglist_id=r.id %}" class="btn btn-primary btn-sm">Stats</a></h6>
      
      
      <table id="rtable{{r.id}}" class="table table-sm">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>            
            </tr>
        </thead>
        <tbody>
            {% for pos in r.rankings.all %}
            <tr>
            <td scope="row">{{pos.position}}</td>
            <td><a href="{% url 'player_history' club_id=club.id player_id=pos.player.id %}">   {{pos.player.player.nameshort}}</a></td> 
            </tr>
            {% endfor %}
        <tbody>
   </table> 
      
   <script>
      $("#rtable{{r.id}}").hide();
      $("#rbutton{{r.id}}").click(function(){
        $("#rtable{{r.id}}").toggle();
      });
    
    </script>
  
  {% endfor %}
  
  <h5>Aktuelle Herausforderungen</h5>
  
  <table class="table table-sm">
    
    <tbody>
    {% for m in matches_planned %}
        <tr>
            <td colspan="3">{{ m.playedat }} in {{m.rankinglist}}</td></tr>
        <tr>  
            <td></td>
            <td>{{ m.playerone.player.nameshort }}</td>
            <td>{{ m.playertwo.player.nameshort }}</td>     
        </tr>
    {% empty %}
        <tr>
            <td colspan="8">Keine aktuellen Herausforderungen</td>
        </tr>
    {% endfor %}
    </tbody>
  </table> 
  
  <h5>Spiele</h5>
  
  <table class="table table-sm">
    
    <tbody>
    {% for m in matches %}
        <tr>
            <td colspan="5">{{ m.playedat }} in {{m.rankinglist}}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ m.playerone.player.nameshort }}</td>
            <td>{{ m.set1playerone }}</td>
            <td>{{ m.set2playerone }}</td>
            <td>
            {% if m.set3playerone != 0 and m.set3playertwo != 0 %}
                {{ m.set3playerone }}
            {% endif %}
          </td>
        </tr>
          <td></td>
            <td>{{ m.playertwo.player.nameshort }}</td>
            <td>{{ m.set1playertwo }}</td>
            <td>{{ m.set2playertwo }}</td>                 
            <td>
              {% if m.set3playerone != 0 and m.set3playertwo != 0 %}
              {{ m.set3playertwo }}
              {% endif %}
            </td> 
       
        </tr>
    {% empty %}
        <tr>
            <td colspan="8">Keine Spiele</td>
        </tr>
    {% endfor %}
    </tbody>
  </table> 
  
      <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Regelwerk</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
            <li>Die Rangliste wird nicht für irgendwelche Auswertungen/Aufstellungen etc. verwendet.</li>
            <li>Start: Alle Spieler, die mitmachen wollen, werden nach ihrer Stärke in der Rangliste angeordnet. Der beste Spieler steht an der Spitze der Rangliste.
            <li>Herausfordern: Um nach oben zu kommen, kann ein Spieler die 3 Spieler direkt über ihm herausfordern. Diese müssen die Herausforderung annehmen.
            <li>Herausforderungen & Spieltermine werden persönlich mit dem jeweiligen Gegner abgesprochen</li>
            <li>Falls Kontaktdaten fehlen könnt ihr den Admin kontaktieren.</li>
            <li>Herausforderungen müssen angenommen werden und innerhalb der nächsten 7 Tage gespielt werden, sonst gilt das Spiel als verloren. (Aussnahme: Winter in der Halle)
            <li>Falls dem Gegner die Halle im Winter zu teuer ist kann eine Herausforderung storniert oder verlegt werden 
            <li>Urlaub und Krankheit sind zu tolerierende Ausnahmen und eine Herausforderung kann storniert oder verlegt werden</li>  
            <li>Gewinnt der Herausforderer, werden die Plätze getauscht, verliert er, bleiben die Positionen bestehen. Der neue Stand ist die Basis für weitere Spiele.
            <li>Es darf nur EINE offene Herausforderung bestehen. Erst nachdem das Spiel gespielt ist, darf eine weitere Herausforderung ausgesprochen werden
            <li>Der Spielmodus entspricht denen des Medenspiels z. B. 6:2, 4:6, 10:5 - Championstiebreak im dritten Satz</li>  
            <li>Das Spielergebnis wird dem Administrator (der bekannt sein sollte) so schnell wie möglich gemeldet - spätestens aber nach einem Tag! Dieser aktualisiert dann die Rangliste      
              
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>        
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}