{% extends "rankinglist/base.html" %}

{% block content %}

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Regelwerk</button>
  <button type="button" class="btn btn-secondary">Herausforderungen/Spiele</button>
</div>

  
  {% for r in rankinglists %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Rangliste {{ r.name }}
        <a href="{% url 'rankinglist_stats' rankinglist_id=r.id %}" class="btn btn-primary btn-sm">Statistiken</a>

      </h5>      
      {% for pos in r.rankings.all %}
      <a href="{% url 'player_history' player_id=pos.player.id %}">{{pos.position}}:  {{pos.player.player.nameshort}}</a><br>
    {% endfor %}  
    </div>
    
  </div>  


      
   <script>
      $("#rtable{{r.id}}").hide();
      $("#rbutton{{r.id}}").click(function(){
        $("#rtable{{r.id}}").toggle();
      });
    
    </script>

  {% endfor %}

  <div class="card">
    <div class="card-header">
      Aktuelle Herausforderungen
    </div>

    <ul class="list-group list-group-flush">


   {% for m in matches_planned %}
   <li class="list-group-item">
    {{ m.playerone.player.nameshort }} gegen {{ m.playertwo.player.nameshort }}
    <p><small>Geplant für den {{ m.playedat }} in Rangliste {{ m.rankinglist }}</small></p>

   </li>
        
    {% empty %}
    <li class="list-group-item">Derzeit keine Herausforderungen</li>
        
    {% endfor %}
    </ul>
  </div>

    <div class="card">
      <div class="card-header">
        Letzten 10 Spiele <a href="{% url 'matcheshistory' %}" class="btn btn-primary btn-sm">Spielearchiv</a>
      </div>

      <ul class="list-group list-group-flush">
        {% for m in matches %}
        <li class="list-group-item">
        
          {{ m.playerone.player.nameshort }} gegen {{ m.playertwo.player.nameshort }}:
       
          {{ m.set1playerone }}:{{ m.set1playertwo }}                 
          {{ m.set2playerone }}:{{ m.set2playertwo }}

          {% if m.set3playerone != 0 and m.set3playertwo != 0 %}
              {{ m.set3playerone }}:{{ m.set3playertwo }}
          {% endif %}
          <p><small>In Rangliste {{m.rankinglist}}</small></p>

          </li>
        
        

        {% empty %}
        <li class="list-group-item">Keine Spiele</li>
        {% endfor %}

      </ul>


    </div>


    
    
      <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Regelwerk</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
              <li>Die Rangliste wird nicht für irgendwelche Auswertungen/Aufstellungen etc. verwendet.</li>
      <li>Start: Alle Spieler, die mitmachen wollen, werden nach ihrer Stärke in der Rangliste angeordnet. Der beste Spieler steht an der Spitze der Rangliste.
      <li>Herausfordern: Um nach oben zu kommen, kann ein Spieler die 3 Spieler direkt über ihm herausfordern. Diese müssen die Herausforderung annehmen.
      <li>Herausforderungen müssen angenommen werden und innerhalb der nächsten 7 Tage gespielt werden, sonst gilt das Spiel als verloren.
      <li>Gewinnt der Herausforderer, werden die Plätze getauscht, verliert er, bleiben die Positionen bestehen. Der neue Stand ist die Basis für weitere Spiele.
      <li>Es darf nur EINE offene Herausforderung bestehen. Erst nachdem das Spiel gespielt ist, darf eine weitere Herausforderung ausgesprochen werden
      <li>Der Spielmodus entspricht denen des Medenspiels z. B. 6:2, 4:6, 10:5 - Championstiebreak im dritten Satz</li>  
      <li>Das Spielergebnis wird dem Administrator (der bekannt sein sollte) so schnell wie möglich gemeldet - spätestens aber nach einem Tag! Dieser aktualisiert dann die Rangliste
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>        
        </div>
      </div>
    </div>
  </div>


{% endblock %}